<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parc Auto</title>
    <link rel ="stylesheet" type = "text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body class="bg-dark">
    <div class="bg-warning text-center">
        <a class="btn btn-warning btn-lg mt-3" th:href="@{/home_page}" role="button">Parc Auto</a>
    </div>
    <div class="bg-warning">
        <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group" role="group" aria-label="First group">
                <a class="btn btn-outline-dark ml-5 mb-2" th:href="@{/adauga_anunt}" role="button">Adauga Anunt</a>
                <a class="btn btn-outline-dark mb-2" th:href="@{/anunturile_mele}" role="button">Anunturile Mele</a>
            </div>
            <div class="btn-group" role="group" aria-label="Second group">
                <p class="mr-5">Salut <b>[[${#request.userPrincipal.principal.fullName}]]</b></p>
                <form th:action="@{/logout}" method="post">
                    <input class="btn btn-outline-dark mr-5 mb-2" type="submit" value="Deconecteaza-te">
                </form>
            </div>
        </div>
    </div>
    <h1 class="text-white text-center">Favoritele mele!</h1>
    <div>
        <ul class="list-group bg-dark">
            <li class="list-group-item bg-dark" th:each="car: ${listCars}">
                <div class="card mb-3 bg-dark text-white">
                    <div class="row g-0 bg-dark">
                        <div class="col-md-4 bg-dark">
                            <img th:src="@{${car.getImgPath()}}" style="width:100%;height:100%"/>
                        </div>
                        <div class="col-md-8 bg-dark">
                            <div class="card-body bg-dark">
                                <h2 class="card-title" th:text="${car.marca} +' '+${car.model} ">Title</h2>
                                <h5 class="card-text" th:text="'AN: ' + ${car.an}">An</h5>
                                <h5 class="card-text" th:text="'KM: ' + ${car.km}">KM</h5>
                                <h5 class="card-text" th:text="'Motor: ' + ${car.capacitateMotor}+'cm3 ' + ${car.combustibil}">Motor</h5>
                                <h4 class="card-text" th:text="'Pret: ' + ${car.pret} + ' euro'">Pret</h4>
                                <h4 class="card-text" th:text="'Proprietar: ' + ${car.user.getFirstName()}">Proprietar</h4>
                                <h4 class="card-text" th:text="'Numar de telefon: ' + ${car.user.getPhoneNumber()}">Telefon</h4>
                                <h3>Descriere:</h3>
                                <p th:utext="${car.descriere}"></p>
                                <div class="text-right">
                                    <a class="btn btn-outline-danger mb-2" th:href="@{remove_favorite/__${car.id}__}" role="button">Sterge favorite!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</body>
</html>

