<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parc Auto</title>
    <link rel ="stylesheet" type = "text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body class="bg-dark">
    <div class="bg-warning text-center">
        <a class="btn btn-warning btn-lg mt-3" th:href="@{/home_page}" role="button">Parc Auto</a>
    </div>
    <div class="bg-warning">
        <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group" role="group" aria-label="First group">
                <a class="btn btn-outline-dark ml-5 mb-2" role="button">Adauga Anunt</a>
                <a class="btn btn-outline-dark mb-2" role="button">Anunturile Mele</a>
                <a class="btn btn-outline-dark mb-2" role="button">Favorite</a>
            </div>
            <div class="btn-group" role="group" aria-label="Second group">
                <p class="mr-5">Salut <b>[[${#request.userPrincipal.principal.fullName}]]</b></p>
                <form th:action="@{/logout}" method="post">
                    <input class="btn btn-outline-dark mr-5 mb-2" type="submit" value="Deconecteaza-te">
                </form>
            </div>
        </div>
    </div>
</body>
</html>

