<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Succeeded</title>
    <link rel ="stylesheet" type = "text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body class="bg-dark">
    <div class="container text-center">
        <div>
            <h3 class="text-white">Trebuie sa te conectezi pentru a accesa aceasta pagina!</h3>
            <h4><a th:href="@{/login}">Apasa aici pentru a te conecta!</a></h4>
        </div>
    </div>
</body>
</html>