<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Succeeded</title>
    <link rel ="stylesheet" type = "text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body class="bg-dark">
    <div class="container text-center">
        <div>
            <h3 class="text-white">A fost sters cu succes!</h3>
            <h4><a class="btn custom-smile-btn-back mr-1 ml-1 btn-warning text-white" onclick="history.go(-1)">Apasa aici pentru a revenii la pagina anterioara.</a></h4>
        </div>
    </div>
</body>
</html>