<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parc Auto</title>
    <link rel ="stylesheet" type = "text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body class="bg-white">
    <div class="bg-warning text-center">
        <a class="btn btn-warning btn-lg mt-3" th:href="@{/admin_page}" role="button">Parc Auto</a>
    </div>
    <div class="bg-warning">
        <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group" role="group" aria-label="First group">
                <a class="btn btn-outline-dark ml-5 mb-2" th:href="@{/list_anunturi}" role="button">Anunturi</a>
            </div>
            <div class="btn-group" role="group" aria-label="Second group">
                <p class="mr-5">Salut <b>[[${#request.userPrincipal.principal.fullName}]]</b></p>
                <form th:action="@{/logout}" method="post">
                    <input class="btn btn-outline-dark mr-5 mb-2" type="submit" value="Deconecteaza-te">
                </form>
            </div>
        </div>
    </div>
    <h1 class="text-dark text-center">Lista cu utilizatori</h1>
    <div>
        <table class="table table-striped table-bordered">
            <thead class ="thead-dark">
            <tr>
                <th>ID Utilizator</th>
                <th>E-mail</th>
                <th>Prenume</th>
                <th>Nume</th>
                <th>Telefon</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="user: ${listUsers}">
                    <td th:text="${user.id}">ID</td>
                    <td th:text="${user.email}">E-mail</td>
                    <td th:text="${user.firstName}">Prenume</td>
                    <td th:text="${user.lastName}">Nume</td>
                    <td th:text="${user.phoneNumber}">Telefon</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>

